body{
  background: #0F705D;
}

.box {

  list-style-type: none;
  font-family: "Karla", sans-serif;
  font-size: 13px;
  color: #FFFFFF;
  text-decoration: none;

  text-align: center;
  margin: auto;
  width: 60%;
  padding-top: 200px;
}

.box input:focus {
  outline: none !important;
}

.buttons input{
  float: left;
  margin: auto 25px 15px auto;
  text-decoration: none;
  outline: none;

}

a, a:hover, a:active, a:visited {
    text-decoration: none !important;
}


.buttons {
  margin: 0 auto;
  text-align: center;
  position: relative;
  right: -35.5%

}

.form h1 {
  padding-top: 10px;
  text-align: inherit;
}

input {

  font-family: 'Karla', sans-serif;
  font-size: 20px;

  display: block;
  margin: 0 auto 15px auto;
  padding: 30px 35px;
  text-align: center;
  border-radius: 3px;

  background-color: #12836D;


  border: 1px;
}

input:focus{
  outline:none;
  text-decoration: none;
}
